.btn {
  background: $bg-color_2;
  width: 90%;
  @include shadow-btn($color-shadow);
  border-radius: 15px;
  &:hover{
    i{
      color: $color-detail_1;
    }
  }
  i {
    color: $text-color_2;
    transform: translateX(-34px);
  }
  &__link {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: $color-detail_1;
    }
  }
  &__number {
    background: $color-detail_1;
    color: white;
    text-align: center;
    padding: 2px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    transform: translateX(-65px);
  }
  &__byline {
    width: 200px;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
}

.btn-courses {
  margin: 20px 0;
  padding: 15px 60px;
}
