.heart-icon {
  position: absolute;
  z-index: 100;
  transform: translate(300px, -50px);
  & i {
    transform: scale(1.5);
    cursor: pointer;
  }
  & input[type="checkbox"] {
    display: none; /* Cache la case à cocher */
    &:checked + label .fa-heart {
      font-weight: 900; /* Modifie le remplissage de l'icône lorsque la case est cochée */
      @include linear-gradient;
      background-clip: text; /*Permet de découper selon la forme de l'icone*/
      color: transparent;
      animation: heart 400ms;
    }
  }
}

.menu{
  & i {
    transform: scale(1.5);
    cursor: pointer;
  }
  & input[type="checkbox"] {
    display: none; /* Cache la case à cocher */
    &:checked + label .fa-heart {
      font-weight: 900; /* Modifie le remplissage de l'icône lorsque la case est cochée */
      @include linear-gradient;
      background-clip: text; /*Permet de découper selon la forme de l'icone*/
      color: transparent;
      animation: heart 400ms;
    }
}
}

@keyframes heart {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}