.choices {
  height: 69px;
  opacity: 0;
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  @include shadow-btn($color-shadow);
  cursor: pointer;
  &:active{
    .choices{
      &__choosen{
      width: 69px;
      i {
        opacity: 1;
      }
    }
  }
}
  &__choosen{
    width: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-detail_2;
    margin-right: -10px;
    border-top: $color-detail_2 solid 10px;
    border-bottom: $color-detail_2 solid 10px;
    border-radius: 0 15px 15px 0;
    & i {
      opacity: 0;
      color: white;
      transform: scale(1.5);
    }
  }
  .dish {
    margin-bottom: 0;
  }
  &__dish{
    padding-left: 8px;
  }
  &__price {
    font-weight: 900;
    transform: translateX(14px);
  }
  & p {
    margin-top: 5px;
  }
}

.first {
  animation: choices-slide 1000ms 2000ms forwards;
}
.second {
  animation: choices-slide 1000ms 2200ms forwards;
}
.third {
  animation: choices-slide 1000ms 2400ms forwards;
}
.fourth {
  animation: choices-slide 1000ms 2600ms forwards;
}
.fifth {
  animation: choices-slide 1000ms 2800ms forwards;
}
.sixth {
  animation: choices-slide 1000ms 3000ms forwards;
}
.seventh {
  animation: choices-slide 1000ms 3200ms forwards;
}
.eighth {
  animation: choices-slide 1000ms 3400ms forwards;
}
.ninth {
  animation: choices-slide 1000ms 3600ms forwards;
}
.tenth{
  animation: choices-slide 1000ms 3800ms forwards;
}

@keyframes choices-slide {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}