.choices {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  @include shadow-btn;
  .dish {
    margin-bottom: 0;
  }
  &__price {
    margin-right: 15px;
  }
  & p {
    color: $text-color_1;
  }
}
