.choices {
  position: relative;
  height: 62.5px;
  opacity: 0;
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  @include shadow-btn($color-shadow);
  cursor: pointer;
  overflow: hidden;
  &:hover {
    .choices {
      &__price{
        right: 80px;
      }
      &__choosen {
        width: 69px;
        transform: translateX(0);
        opacity: 1;
      }
    }
    p {
      width: 200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    h3 {
      width: 200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &__choosen {
    width: 69px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-detail_2;
    margin-right: -10px;
    border-top: $color-detail_2 solid 10px;
    border-bottom: $color-detail_2 solid 10px;
    border-radius: 0 15px 15px 0;
    transform: translateX(100px);
    opacity: 0;
    transition: all 500ms;
    & i {
      opacity: 1;
      color: white;
      transform: scale(1.5);
    }
  }
  .dish {
    margin-bottom: 0;
  }
  &__dish {
    padding-left: 8px;
    width: 500px;
  }
  &__price {
    position: absolute;
    top: 55%;
    right: 15px;
    font-weight: 900;
    transition: all 500ms ease-in-out;
  }
  p {
    font-size: 0.8rem;
    margin-top: 5px;
    width: 100%;
  }
  h3{
    font-size: 0.9rem;
  }
}

.choices-whole {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first {
  animation: choices-slide 1000ms 2000ms forwards;
}
.second {
  animation: choices-slide 1000ms 2200ms forwards;
}
.third {
  animation: choices-slide 1000ms 2400ms forwards;
}
.fourth {
  animation: choices-slide 1000ms 2600ms forwards;
}
.fifth {
  animation: choices-slide 1000ms 2800ms forwards;
}
.sixth {
  animation: choices-slide 1000ms 3000ms forwards;
}
.seventh {
  animation: choices-slide 1000ms 3200ms forwards;
}
.eighth {
  animation: choices-slide 1000ms 3400ms forwards;
}
.ninth {
  animation: choices-slide 1000ms 3600ms forwards;
}
.tenth {
  animation: choices-slide 1000ms 3800ms forwards;
}

@keyframes choices-slide {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media screen and (min-width: 320px){
  .choices{
    p{
      width: 200px;
    }
    h3{
      width: 200px;
    }
    &:hover{
      p{
        width: 100px;
      }
      h3{
        width: 100px;
      }
    }
  }
}

@media screen and (min-width: 375px){
  .choices{
    p{
      width: 280px;
      font-size: 0.9rem;
    }
    h3{
      width: 280px;
      font-size: 1rem;
    }
    &:hover{
      p{
        width: 200px;
      }
      h3{
        width: 200px;
      }
    }
  }
}

@media screen and (min-width: 425px){
  .choices{
    p{
      width: 500px;
    }
    h3{
      width: 500px;
    }
    &:hover{
      p{
        width: 250px;
      }
      h3{
        width: 250px;
      }
    }
  }
}

@media screen and (min-width: 480px){
  .choices{
    p{
      font-size: 1rem;
    }
    &:hover{
      p{
        width: 300px;
      }
      h3{
        width: 300px;
      }
    }
  }
}

@media screen and (min-width: 550px){
  .choices{
    &:hover{
      p{
        width: 500px;
      }
      h3{
        width: 500px;
      }
    }
  }
}