.courses {
  width: 349px;
  &__header{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.22rem;
    &--mint {
      width: 50px;
      border-bottom: $color-detail_2 solid 3px;
      transform: translateY(-12px);
    }
  }
}
