.courses {
  width: 90%;
  &__header{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.22rem;
    &--mint {
      width: 50px;
      border-bottom: $color-detail_2 solid 3px;
      transform: translateY(-12px);
    }
  }
}

@media screen and (min-width: 768px){
  .courses{
    width: 80%;
  }
}

@media screen and (min-width: 992px){
  .courses{
    width: 70%;
  }
}

@media screen and (min-width: 1200px){
  .courses{
  width: 60%;
  }
}
