.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  padding: 15px;
  background: $text-color_1;
  color: white;
  &__image {
    filter: invert(100%);
  }
  &__text {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &--white {
      color: white;
    }
    & i {
      margin-right: 8px;
    }
  }
}

@media screen and (min-width: 1440px){
  .footer{
    height: 100px;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    &__text{
      padding: 5px 0;
      margin-right: 20px;
      flex-direction: row;
      width: 600px;
      align-items: end;
    }
  }
}
