.form-explore {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bg-color_2;
  border: $bg-color_2 solid 1px;
  font-family: "Roboto", sans-serif;
  padding: 50px 50px;
  text-align: center;
  &__heading {
    font-size: 1.7rem;
    margin-top: 0;
    width: 85%;
  }
  &__inline {
    font-size: 1rem;
    color: $text-color_2;
    width: 90%;
  }
  &__btn {
    color: white;
    @include linear-gradient();
    @include shadow-btn($color-shadow);
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    opacity: 100%;
    transition: all 400ms;
    &:hover {
      opacity: 80%;
      @include shadow-btn(#9e9e9e);
    }
  }
}
