.functioning {
  height: 440px;
  width: 100%;
  @include flexy;
  &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
  }
  &__heading {
    width: 340px;
  }
}
