.main-container {
  font-family: "Roboto", sans-serif;
  position: absolute;
  overflow: hidden;
  animation: content 0ms 2000ms both;
  z-index: 1;
  width: 100%;
}

@keyframes content {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
