.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  &__heading {
    font-size: 1.5rem;
  }
  & i {
    transform: scale(1.5);
    margin-right: 20px;
  }
}
