.restaurants {
  width: 100%;
  background: $bg-color_2;
  @include flexy;
  &__heading {
    width: 90%;
  }
  &__block{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.block__up{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block__bottom{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 1440px){
  .restaurants{
    &__block{
      width: 80%;
    }
    &__heading{
      width: 80%;
    }
  }
  .block__up{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .block__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}