@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}

.nav-link-summer-sold {
  display: flex;
}

.main-container {
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 113px;
}
.header__image {
  height: 56.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__image i {
  transform: translateX(-70px);
  font-size: 1.5rem;
}
.header__image img {
  width: 50%;
}

.form-location {
  height: 56.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  box-shadow: inset 0px 3px 3px 0px #cecece;
}
.form-location i {
  color: #353535;
}
.form-location__input {
  border: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.2em;
  color: #353535;
}

.form-explore {
  background: #f6f6f6;
  border: #f6f6f6 solid 1px;
  font-family: "Roboto", sans-serif;
  padding: 50px 30px;
  text-align: center;
}
.form-explore__heading {
  font-size: 1.7rem;
  margin-top: 0;
}
.form-explore__inline {
  font-size: 1rem;
  color: #7e7e7e;
}
.form-explore__btn {
  color: white;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 3px 3px 10px 2px #cecece;
  border: none;
  padding: 15px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 100%;
  transition: all 400ms;
}
.form-explore__btn:hover {
  opacity: 80%;
  box-shadow: 3px 3px 10px 2px #9e9e9e;
}

.functioning {
  height: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.functioning__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}
.functioning__heading {
  width: 340px;
}

.restaurants {
  width: 100%;
  height: 1550px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__heading {
  width: 340px;
}

.restaurants__block {
  width: 340px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  padding: 15px;
  background: #353535;
  color: white;
}
.footer__image {
  filter: invert(100%);
}
.footer__text {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__text--white {
  color: white;
}

.header__food-picture img {
  width: 100%;
}

.main-border-radius {
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1420px;
  transform: translateY(-60px);
  background: #f6f6f6;
  margin-bottom: -60px;
}

#note-enchantee {
  height: 1550px;
}

.courses {
  width: 340px;
}

.menu {
  display: flex;
  align-items: center;
  width: 340px;
}
.menu__heading {
  font-size: 1.5rem;
  margin-right: 50px;
}
.menu i {
  transform: scale(1.5);
}

.choices {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: 3px 3px 10px 2px #cecece;
}
.choices .dish {
  margin-bottom: 0;
}
.choices__price {
  margin-right: 15px;
}
.choices p {
  color: #353535;
}

.super-card {
  position: relative;
}

.btn {
  background: #f6f6f6;
  width: 90%;
  box-shadow: 3px 3px 10px 2px #cecece;
  border-radius: 15px;
}
.btn i {
  color: #7e7e7e;
  transform: translateX(-34px);
}
.btn__link {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__link:active {
  color: #9356dc;
}
.btn__number {
  background: #9356dc;
  color: white;
  text-align: center;
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  transform: translateX(-65px);
}
.btn__byline {
  width: 200px;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.btn-courses {
  margin: 20px 0;
  padding: 15px 60px;
}

.card {
  background: white;
  border-radius: 15px;
}
.card__text {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card img {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card i {
  transform: scale(1.5);
}

.menu__heading {
  font-family: "Shrikhand", cursive;
}

.courses__header {
  font-weight: lighter;
}
.courses__header--mint {
  width: 50px;
  border-bottom: #99e2d0 solid 3px;
  transform: translateY(-18px);
}

.heart-icon {
  position: absolute;
  z-index: 100;
  transform: translate(300px, -50px);
}
.heart-icon i {
  transform: scale(1.5);
  cursor: pointer;
}
.heart-icon input[type=checkbox] {
  display: none; /* Cache la case à cocher */
}
.heart-icon input[type=checkbox]:checked + label .fa-heart {
  font-weight: 900; /* Modifie la couleur de l'icône lorsque la case est cochée */
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}/*# sourceMappingURL=index.css.map */