@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Shrikhand&display=swap");
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}

.main-container {
  font-family: "Roboto", sans-serif;
  position: absolute;
  overflow: hidden;
  animation: content 0ms 2000ms both;
  z-index: 1;
  width: 100%;
}

@keyframes content {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 1440px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.header {
  width: 100%;
  height: 113px;
}
.header__image {
  position: relative;
  height: 56.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__image i {
  position: absolute;
  top: 28.25px;
  left: 5%;
  transform: translateY(-50%);
  font-size: 1.5rem;
}
.header__image img {
  height: 50%;
}
.header__food-picture {
  height: 300px;
  width: 100%;
}
.header__food-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-courses {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header__food-picture {
    height: 400px;
  }
}
.form-location {
  height: 56.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  box-shadow: inset 0px 3px 3px 0px #cecece;
}
.form-location i {
  color: #353535;
}
.form-location__input {
  border: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.2em;
  color: #353535;
}

.form-explore {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  border: #f6f6f6 solid 1px;
  font-family: "Roboto", sans-serif;
  padding: 50px 50px;
  text-align: center;
}
.form-explore__heading {
  font-size: 1.7rem;
  margin-top: 0;
  width: 85%;
}
.form-explore__inline {
  font-size: 1rem;
  color: #7e7e7e;
  width: 90%;
}
.form-explore__btn {
  color: white;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 3px 3px 10px 2px #cecece;
  border: none;
  padding: 15px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 100%;
  transition: all 400ms;
}
.form-explore__btn:hover {
  opacity: 80%;
  box-shadow: 3px 3px 10px 2px #9e9e9e;
}

.functioning {
  background: white;
  margin: 0 0 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.functioning__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}
.functioning__heading {
  width: 90%;
}

@media screen and (min-width: 1440px) {
  .functioning {
    width: 80%;
  }
  .functioning__block {
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
  }
  .functioning__heading {
    width: 100%;
  }
}
.restaurants {
  width: 100%;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants__heading {
  width: 90%;
}
.restaurants__block {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block__up {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block__bottom {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 1440px) {
  .restaurants__block {
    width: 80%;
  }
  .restaurants__heading {
    width: 80%;
  }
  .block__up {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .block__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .main {
    width: 100%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  background: #353535;
  color: white;
}
.footer__image {
  filter: invert(100%);
}
.footer__text {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer__text--white {
  color: white;
}
.footer__text i {
  margin-right: 8px;
}

@media screen and (min-width: 1440px) {
  .footer {
    height: 100px;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
  }
  .footer__text {
    padding: 5px 0;
    margin-right: 100px;
    margin-bottom: 10px;
    flex-direction: row;
    width: 600px;
    align-items: end;
  }
  .footer__image {
    margin-right: 80px;
    margin-bottom: 10px;
  }
}
.main-border-radius {
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-60px);
  background: #f6f6f6;
  margin-bottom: -60px;
}

@media screen and (min-width: 1440px) {
  .main-border-radius {
    width: 75%;
    transform: translateY(-30px);
    margin-bottom: -30px;
  }
}
.courses {
  width: 90%;
}
.courses__header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.22rem;
}
.courses__header--mint {
  width: 50px;
  border-bottom: #99e2d0 solid 3px;
  transform: translateY(-12px);
}

@media screen and (min-width: 768px) {
  .courses {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .courses {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .courses {
    width: 60%;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 340px;
}
.menu__heading {
  font-size: 1.4rem;
}
.menu i {
  transform: scale(1.5);
  margin-right: 20px;
}

@media screen and (min-width: 375px) {
  .menu {
    justify-content: space-between;
  }
  .menu__heading {
    font-size: 1.5rem;
  }
}
.choices {
  position: relative;
  height: 62.5px;
  opacity: 0;
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 2px #cecece;
  cursor: pointer;
  overflow: hidden;
}
.choices:hover .choices__price {
  right: 80px;
}
.choices:hover .choices__choosen {
  width: 69px;
  transform: translateX(0);
  opacity: 1;
}
.choices:hover p {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.choices:hover h3 {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.choices__choosen {
  width: 69px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  margin-right: -10px;
  border-top: #99e2d0 solid 10px;
  border-bottom: #99e2d0 solid 10px;
  border-radius: 0 15px 15px 0;
  transform: translateX(100px);
  opacity: 0;
  transition: all 500ms;
}
.choices__choosen i {
  opacity: 1;
  color: white;
  transform: scale(1.5);
}
.choices .dish {
  margin-bottom: 0;
}
.choices__dish {
  padding-left: 8px;
  width: 500px;
}
.choices__price {
  position: absolute;
  top: 55%;
  right: 15px;
  font-weight: 900;
  transition: all 500ms ease-in-out;
}
.choices p {
  font-size: 0.8rem;
  margin-top: 5px;
  width: 100%;
}
.choices h3 {
  font-size: 0.9rem;
}

.choices-whole {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first {
  animation: choices-slide 1000ms 2000ms forwards;
}

.second {
  animation: choices-slide 1000ms 2200ms forwards;
}

.third {
  animation: choices-slide 1000ms 2400ms forwards;
}

.fourth {
  animation: choices-slide 1000ms 2600ms forwards;
}

.fifth {
  animation: choices-slide 1000ms 2800ms forwards;
}

.sixth {
  animation: choices-slide 1000ms 3000ms forwards;
}

.seventh {
  animation: choices-slide 1000ms 3200ms forwards;
}

.eighth {
  animation: choices-slide 1000ms 3400ms forwards;
}

.ninth {
  animation: choices-slide 1000ms 3600ms forwards;
}

.tenth {
  animation: choices-slide 1000ms 3800ms forwards;
}

@keyframes choices-slide {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media screen and (min-width: 320px) {
  .choices p {
    width: 200px;
  }
  .choices h3 {
    width: 200px;
  }
  .choices:hover p {
    width: 100px;
  }
  .choices:hover h3 {
    width: 100px;
  }
}
@media screen and (min-width: 375px) {
  .choices p {
    width: 280px;
    font-size: 0.9rem;
  }
  .choices h3 {
    width: 280px;
    font-size: 1rem;
  }
  .choices:hover p {
    width: 200px;
  }
  .choices:hover h3 {
    width: 200px;
  }
}
@media screen and (min-width: 425px) {
  .choices p {
    width: 500px;
  }
  .choices h3 {
    width: 500px;
  }
  .choices:hover p {
    width: 250px;
  }
  .choices:hover h3 {
    width: 250px;
  }
}
@media screen and (min-width: 480px) {
  .choices p {
    font-size: 1rem;
  }
  .choices:hover p {
    width: 300px;
  }
  .choices:hover h3 {
    width: 300px;
  }
}
@media screen and (min-width: 550px) {
  .choices:hover p {
    width: 500px;
  }
  .choices:hover h3 {
    width: 500px;
  }
}
.super-card {
  position: relative;
  margin-bottom: 30px;
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #9356dc;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
}

.btn {
  background: #f6f6f6;
  width: 85%;
  box-shadow: 3px 3px 10px 2px #cecece;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
}
.btn:hover i {
  color: #9356dc;
}
.btn i {
  color: #7e7e7e;
  position: absolute;
  left: 35px;
}
.btn__link {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__link:hover {
  color: #9356dc;
}
.btn__number {
  background: #9356dc;
  color: white;
  text-align: center;
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  left: -8px;
}
.btn__byline {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.btn-courses {
  margin: 20px 0;
  padding: 15px 60px;
}

@media screen and (min-width: 1440px) {
  .btn {
    width: 25%;
  }
}
.card {
  background: white;
  border-radius: 15px;
  position: relative;
}
.card__text {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card img {
  width: 100%;
  height: 167px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 60%;
     object-position: 0 60%;
  border-radius: 15px 15px 0 0;
}
.card h3 {
  margin-bottom: 2px;
  margin-top: 12px;
}
.card p {
  margin-top: 2px;
  margin-bottom: 12px;
}

.menu__heading {
  font-family: "Shrikhand", cursive;
}

.heart-icon {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  right: 20px;
}
.heart-icon i {
  transform: scale(1.5);
  cursor: pointer;
}
.heart-icon input[type=checkbox] {
  display: none; /* Cache la case à cocher */
}
.heart-icon input[type=checkbox]:checked + label .fa-heart {
  font-weight: 900; /* Modifie le remplissage de l'icône lorsque la case est cochée */
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
          background-clip: text; /*Permet de découper selon la forme de l'icone*/
  color: transparent;
  animation: heart 400ms;
}

.menu i {
  transform: scale(1.5);
  cursor: pointer;
}
.menu input[type=checkbox] {
  display: none; /* Cache la case à cocher */
}
.menu input[type=checkbox]:checked + label .fa-heart {
  font-weight: 900; /* Modifie le remplissage de l'icône lorsque la case est cochée */
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
          background-clip: text; /*Permet de découper selon la forme de l'icone*/
  color: transparent;
  animation: heart 400ms;
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.new {
  position: absolute;
  background: #99e2d0;
  color: #1b6150;
  padding: 5px 10px;
  border-radius: 3px;
  top: 10px;
  right: 10px;
}/*# sourceMappingURL=index.css.map */