@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}

.main-container {
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  height: 113px;
}
.header__image {
  height: 56.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__image img {
  width: 50%;
}

.form-location {
  height: 56.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eaeaea;
  -webkit-box-shadow: inset 0px 3px 3px 0px #cecece;
          box-shadow: inset 0px 3px 3px 0px #cecece;
}
.form-location i {
  color: #353535;
}
.form-location__input {
  border: none;
  background: transparent;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.2em;
  color: #353535;
}

.form-explore {
  background: #f6f6f6;
  border: #f6f6f6 solid 1px;
  font-family: "Roboto", sans-serif;
  padding: 50px 30px;
  text-align: center;
}
.form-explore__heading {
  font-size: 1.7rem;
  margin-top: 0;
}
.form-explore__inline {
  font-size: 1rem;
  color: #7e7e7e;
}
.form-explore__btn {
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(147, 86, 220)), to(rgb(255, 121, 218)));
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-box-shadow: 3px 3px 10px 2px #cecece;
          box-shadow: 3px 3px 10px 2px #cecece;
  border: none;
  padding: 15px;
  border-radius: 30px;
  font-size: 1rem;
}

.functioning {
  height: 440px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.functioning__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
}
.functioning__heading {
  width: 340px;
}

.restaurants {
  width: 100%;
  height: 1550px;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.restaurants__heading {
  width: 340px;
}

.restaurants__block {
  width: 340px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  border: blue solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200px;
  padding: 15px;
  background: #353535;
  color: white;
}
.footer__image {
  border: red solid 1px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.footer__text {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__text--white {
  color: white;
}

.btn {
  background: #f6f6f6;
  width: 90%;
  -webkit-box-shadow: 3px 3px 10px 2px #cecece;
          box-shadow: 3px 3px 10px 2px #cecece;
  border-radius: 15px;
}
.btn i {
  color: #7e7e7e;
  -webkit-transform: translateX(-34px);
          transform: translateX(-34px);
}
.btn__link {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn__link:active {
  color: #9356dc;
}
.btn__number {
  background: #9356dc;
  color: white;
  text-align: center;
  padding: 2px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}
.btn__byline {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.card {
  background: white;
  border-radius: 15px;
}
.card__text {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card img {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.menu__heading {
  font-family: "Shrikhand", cursive;
}/*# sourceMappingURL=index.css.map */